# Ignore virtual environment
venv/

# Ignore SQLite database
*.sqlite3

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore compiled bytecode files
*.pyc

# Ignore media files if large
media/

# Ignore test files (optional)
test_*.py
api_test.py

# Ignore VS Code / PyCharm settings
.vscode/
.idea/

# macOS
.DS_Store